@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url(Poppins_800_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_800_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_800_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V14.woff2 */
        url(Poppins_800_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1g.woff */
        url(Poppins_800_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1tvEv-L.ttf */
        url(Poppins_800_normal.svg#Poppins_800_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url(Poppins_100_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_100_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_100_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTecg.woff2 */
        url(Poppins_100_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedA.woff */
        url(Poppins_100_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTed3FHGPc.ttf */
        url(Poppins_100_normal.svg#Poppins_100_normal) format('svg'); /* {{svg-gf-url}} */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(Poppins_400_normal.eot); /* http://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJE.eot */
    src: local('☺'),
        url(Poppins_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJE.eot */
        url(Poppins_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJU.woff2 */
        url(Poppins_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJM.woff */
        url(Poppins_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJDUdVNF.ttf */
        url(Poppins_400_normal.svg#Poppins_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrFJI&skey=87759fb096548f6d&v=v20#Poppins */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(Poppins_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V14.woff2 */
        url(Poppins_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1g.woff */
        url(Poppins_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1tvEv-L.ttf */
        url(Poppins_600_normal.svg#Poppins_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(Poppins_200_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_200_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_200_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V14.woff2 */
        url(Poppins_200_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1g.woff */
        url(Poppins_200_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1tvEv-L.ttf */
        url(Poppins_200_normal.svg#Poppins_200_normal) format('svg'); /* {{svg-gf-url}} */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(Poppins_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_500_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V14.woff2 */
        url(Poppins_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1g.woff */
        url(Poppins_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1tvEv-L.ttf */
        url(Poppins_500_normal.svg#Poppins_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(Poppins_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V14.woff2 */
        url(Poppins_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1g.woff */
        url(Poppins_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1tvEv-L.ttf */
        url(Poppins_700_normal.svg#Poppins_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url(Poppins_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Poppins_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Poppins_900_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V14.woff2 */
        url(Poppins_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1g.woff */
        url(Poppins_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1tvEv-L.ttf */
        url(Poppins_900_normal.svg#Poppins_900_normal) format('svg'); /* {{svg-gf-url}} */
}